<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Exam Score Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <div class="login">
        <center>
            <form action="{{ url_for('predict') }}" method="post">
                <h1 style="font-size: 20px; font-family: 'italic', sans-serif;">*** Enter your study hours to predict marks ***<br>"Knowing your score is the first step to improvement."</h1>
                <input type="text" step="0.1" name="studyHours" placeholder="Enter your study hours:" style="font-size: 38px;">
                <br><br>
                <div class="button_cont" align="center">
                    <button type="submit" class="button_css">Predict</button>
                </div>
            </form>
        </center>
        <h2 style="color: white;">{{ prediction_text }}</h2>

        
        
        
    </div>
</body>
</html>
