<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME TO CSD</title>
    <a href="https://www.kietgroup.info/Student/DashBoard">kietgroup</a>
</head>
<body>
    <img src="C:\Users\umaga\Downloads\bg.jpeg">
    <h1>We are from CSD Branch</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat reiciendis ratione voluptates molestias delectus, soluta tempore voluptatibus error dolore, assumenda tempora earum. Corrupti, soluta ullam. Voluptatibus facilis ex cumque?</p>
    <span style="color: black">P</span>
    <span style="color: black">R</span>
    <span style="color: black">A</span>
    <span style="color: black">T</span>
    <span style="color: black">H</span>
    <span style="color: black">Y</span>
    <span style="color: black">U</span>
    <span style="color: black">S</span>
    <span style="color: black">H</span>
    <span style="color: black">A</span>
</body>
</html>


